// Created by: Jhonatan Córdoba Rodriguez
*
	padding 0
	margin 0
@font-face
	font-family: "comfortaa"
    src: url('../fonts/Comfortaa-Bold.ttf')
.break
	clear both
	
body
	font-family comfortaa
    
img#logo
	// margin 10px
	// height 50px 
	// width 50px 
	// -webkit-border-radius 50%
	// border 2px solid #02838A	
	// float left	
	
	border-radius: 50%
    width: 50px
    float: left
    border: 2px solid #02838A
    margin: 20px
		
ul#menu_h
	// display: block !important
	// border 1px solid black
	font-family comfortaa
	list-style: none
	margin: 20px
	margin-left 10%
	padding: 0
	float left
	width auto
	width 70%

	
	li
		float left
		margin 10px
		